<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    
        

            <div class="in_header_left">
                <div class="header_form">
                    <form role="form" action="index.html" method="post" name="form1" enctype="multipart/form-data">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Ваше ім'я">
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Ваш номер телефону">
                        <!-- <input type="text" class="form-control" id="excursion" name="excursion" placeholder="Оберіть екскурсію"> -->
                        <select  class="form-control" id="excursion" name="excursion" class="form-control" >
                            <optgroup>
                                <option value="">Оберіть екскурсію</option>
                            </optgroup>
                            <optgroup label="Екскурсії по Львову">
                                <option value="Середмістя Львова та підземелля">Середньовічний Львів та підземелля</option>
                                <option value="Австрійський Львів">Австрійський Львів</option>
                                <option value="Княжий Львів">Княжий Львів</option>
                                <option value="Сім чудес Львова">Сім чудес Львова</option>
                                <option value="Вечірній Львів">Вечірній Львів</option>
                                <option value="Сакральні пам’ятки Львова">Сакральні пам’ятки Львова</option>
                                <option value="Личаківське кладовище">Личаківське кладовище</option>
                                <option value="Львівська Опера">Львівська Опера</option>
                                <option value="Шляхетське казино">Шляхетське казино</option>
                                <option value="Нетипова екскурсія Львовом">Нетипова екскурсія Львовом</option>
                                <option value="Львів – місто закоханих">Львів – місто закоханих</option>
                            </optgroup>
                            <optgroup label="Автобусні екскурсії">
                                <option value="Автобусна оглядова">Автобусна оглядова</option>
                                <option value="Золота підкова» Львівщини">Золота підкова» Львівщини</option>
                                <option value="Почаївська лавра">Почаївська лавра</option>
                                <option value="Карпатський трамвайчик">Карпатський трамвайчик</option>
                                <option value="Озеро Синевир та водоспад Шипіт">Озеро Синевир та водоспад Шипіт</option>
                                <option value="Жовква та Крехівський монастир">Жовква та Крехівський монастир</option>
                                <option value="Замки Закарпаття">Замки Закарпаття</option>
                            </optgroup>
                        </select>
                        <input type="submit" class="form-control" id="button" name="but2" value="Відправити">
                    </form>
                </div>
            </div>

            <div class="in_header_right">
                <div class="in_header_right_top">
                    <div class="header_contacts">
                        <p class="contacts"> <i class="material-icons phone_in_header">local phone</i>{headcontent.firstPhone}<span><i class="material-icons phone_in_header">local phone</i>+38 (093) 020-83-50</span>    <span><i class="material-icons mail_in_header">mail outline</i>feellvivtour@gmail.com</span></p>
                    </div>
                    <div class="header_nav">
                        <ul class="in_heder_nav">
                            <a href="index.html#excursions"><li class="lviv_ex">Екскурсії по Львову</li></a>
                            <a href="index.html#excursions"><li class="bus_ex">Автобусні екскурсії</li></a>
                            <a href="index.html#excursions"><li class="all_ex">Всі екскурсії</li></a>
                          <!-- <a href="#reviews"><li class="all_ex">Відгуки</li></a> -->
                        </ul>
                    </div>
                </div>
                <div class="in_header_right_bottom">
                    <div class="header_description">
                        <p class="description">Організація туристичних екскурсій у місті Лева</p>
                        <p class="slogan">Відкрий для себе Львів!</p>
                    </div>
                    <div class="header_lang">
                        <a href="index_en.html"><div class="en" style="opacity: 0.5;"></div></a>
                        <a href="index_ru.html"><div class="ru" style="opacity: 0.5;"></div></a>
                        <div class="ua"></div>
                    </div>
                </div>
            </div>


        
    
</html>